body{
    text-align: center;
    background-color: rgba(88, 96, 90, 0.902);
    font-family: "Space Mono", monospace;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}


label {
    color: white;
}

h1{
    background-color:  rgba(88, 96, 90, 0.902);
    text-shadow: 2px 2px 1px rgba(187, 53, 53, 0.895);
}
span{
    color:  rgba(142, 196, 157, 0.902);
}
#submit{
    background-color:  rgba(142, 196, 157, 0.902);
   
}
form{
    background-color:rgba(88, 96, 90, 0.902);
    margin: 170px;
    width: 60%;
    border: 20px solid   rgba(136, 158, 142, 0.902);;
    border-width: 2px;

}
#botao{
    font-family: 'Courier New', Courier, monospace;
}
